<div class='experience'>
    <div class='work'>
        <h2> - Employment - </h2>

        <ul class="employment-list">
            <li>
                {{!--
                <h3>Apple</h3> --}}
                <h4>Software Engineer Intern</h4>
                <span>November 2016 - 2017</span>
                <ul class="resume-list">
                    <li>Utilized Ember.js for creating single page applications on the browser. Implemented new features and
                        bolstered tests for better reliability</li>
                    <li>Utilized Ruby on Rails along with PostgreSQL as the database to build new features and tests for existing
                        APIs
                    </li>
                    <li>Created private npm packages to modularize shared aspects of various applications to create a streamline
                        process for feature updates and creating new applications</li>
                    <li>Utilized Git and Github for code version control among teammates, code reviews, and testing application
                        builds before deployment</li>
                </ul>
            </li>
            <li>
                <h3>JNR Incororated</h3>
                <h4>Junior Software Engineer</h4>
                <span>November 2016 - 2017</span>
                <ul class="resume-list">
                    <li>Contributed to the creation of a web framework that allowed clients to create customized websites, while
                        also allowing new features to be instantly integrated into all websites regardless of their creation
                        date using Drupal, custom drupal modules, and PHP</li>
                    <li>Created an ecommerce solution for the sales side of the business using Drupal, PHP, MySQL, Stripe API,
                        and custom APIs that I built for handling business logic and allowing clients to make purchases using
                        Automated Clearing House and Stripe</li>
                    <li>Created online tools for organizations to coordinate travel and hosting services for users wishing to
                        participate in their conventions</li>
                    <li>Utilized Git and Gitlab for code version control amongst peers and distribution of approved and tested
                        features to production servers</li>
                    <li>Decoupled Drupal’s view layer from its server and database layer to create an API, allowing the server
                        logic to be client agnostic</li>
                    <li>Created a React and Redux client application and decoupled Drupal server for an external electronic gift
                        card and electronic prepaid card website for use by the general public, current clients, and potential
                        clients
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class='education'>
        <h2> - Education - </h2>
        <ul class='edu-list'>
            <li>
                <h3>Oregon State University</h3>
                <h4>Bachelor of Science, Computer Science</h4>
                <span>2017-2019</span>
                <p> During my own personal studies, I have come to enjoy Computer Science theory and advanced topics like data
                    structures, algorithms, graphs, machine learning, and artificial intelligence. Which is why I have decided
                    to pursue a Bachelors in Computer Science.</p>
            </li>
            <li>
                <h3>University of California, Irvine</h3>
                <h4>Bachelor of the Arts, Economics</h4>
                <span>2011-2015</span>
                <p> During my tenure at UC Irvine, I learned how to think critically and approach problems from an analytical
                    perspetive. Throughout my studies in Economics, I learned how to use advanced mathematical equations
                    and statistics to analyze data and answer complex economic problems using multi-variable calculus and
                    econometrics. </p>
            </li>
        </ul>

        <h2> - Skills - </h2>
        <div class='skills-bi-section'>
            <div class='languages'>
                <span>
                    <h4>Languages</h4>
                </span>
                <ul class='languages-list'>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>Ruby</li>
                    <li>Go</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>Swift</li>
                    <li>Python</li>
                    <li>x86 Assembly</li>
                </ul>
            </div>

            <div class='frameworks'>
                <span>
                    <h4>Frameworks / Extensions</h4>
                </span>
                <ul class='frameworks-list'>
                    <li>Angular.js</li>
                    <li>Ember.js</li>
                    <li>React.js</li>
                    <li>Ruby on Rails</li>
                    <li>UIKit</li>
                    <li>Drupal</li>
                    <li>SASS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class='footer'>
    <div class='link-list'>
        <div class='icon'>
            <a href="https://www.linkedin.com/in/tevinmantock" target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
        </div>
        <div class='icon'>
            <a href="https://angel.co/tevin-mantock" target="_blank">
                <i class="fab fa-angellist fa-2x"></i>
            </a>
        </div>
        <div class='icon'>
            <a href="https://github.com/tmantock" target="_blank">
                <i class="fab fa-github-alt fa-2x"></i>
            </a>
        </div>
        <div class='icon'>
            <a href="https://twitter.com/tmantock" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </div>
        <div class='icon'>
            <a href="/documents/resume.pdf" target="_blank">
                <i class="fas fa-file-alt fa-2x"></i>
            </a>
        </div>
    </div>
</div>
{{outlet}}
